.title {
	@include font(80px,90px,400);
	font-family: Forum;
	text-transform: uppercase;
	letter-spacing: 5px;
		@include media(max,xl) {
			@include font(50px,75px);
		}
		@include media(max,md) {
			@include font(40px,60px);
		}
		@include media(max,xs) {
			@include font(28px,40px);
		}
	&-light {
		color: var(--gold);
	}
	&-line {
		&::after {
			content: "";
			display: block;
			margin-top: 25px;
			width: 100%;
			height: 3px;
			background: var(--dark-red);
				@include media(max,xl) {
					margin-top: 20px;
				}
		}
	}

}