<section class="video" id="video">
	<div class="container">
		<div class="video__wrapper">
			<div class="video__title">
				<h2 class="title title-light">Video journey</h2>
				<p class="video__title-text text">Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code</p>
			</div>
			<div class="video__player">
				<div class="video__buttons">
					<button class="video__buttons-play"><svg class="video__buttons-item"><use xlink:href="./video/main-play.svg#main-play"></use></svg></button>
					<div class="video__bar">
						<button class="video__bar-play"><svg class="video__bar-item"><use xlink:href="./video/bar-play.svg#bar-play"></use></svg></button>
						<input class="video__bar-time progress" type="range" value="40" min="0" max="100" step="1">
						<button class="video__bar-volume"><svg class="video__bar-item"><use xlink:href="./video/bar-volume.svg#bar-volume"></use></svg></button>
						<input class="video__bar-volume-range progress" type="range" value="40" min="0" max="100" step="1" >
						<button class="video__bar-fullscreen"><svg class="video__bar-item"><use xlink:href="./video/bar-fullScreen.svg#fullScreen"></use></svg></button>
					</div>
				</div>
			</div>
			<div class="video__slider">
				<div class="video__slider-wrapper">
					<div class="video__slider-item"><iframe  src="https://www.youtube.com/embed/aWmJ5DgyWPI" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
					<div class="video__slider-item"><iframe  src="https://www.youtube.com/embed/Vi5D6FKhRmo" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
					<div class="video__slider-item"><iframe  src="https://www.youtube.com/embed/NOhDysLnTvY" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
				</div>
				<div class="video__slider-pagination">
					<button class="video__slider-prev"><svg class="video__bar-item"><use xlink:href="./video/slider-arrowPrev.svg#arrowPrev"></use></svg></button>
					<span class="video__slider-dot video__slider-dot--active"></span>
					<span class="video__slider-dot"></span>
					<span class="video__slider-dot"></span>
					<span class="video__slider-dot"></span>
					<span class="video__slider-dot"></span>
					<button class="video__slider-next"><svg class="video__bar-item"><use xlink:href="./video/slider-arrowNext.svg#arrowNext"></use></svg></button>
				</div>
			</div>
		</div>
	</div>
</section>