<!-- FORM BLOCK -->
<div class="form" id="form">
	<div class="form__container">
		<div class="form__wrapper">
			<div class="form__left">
				<div class="form__logo">
					<svg class="form__img">
						<use xlink:href="./images/logo.svg#logo"></use>
					</svg>
					<h2 class="title">Booking tickets</h2>
					<h4>Tour to Louvre</h4>
				</div>

				<form class="form__registration" action="#">
					<div class="form__datatime">
						<div class="form__datatime-date">
							<img
								src="./images/form/date.svg"
								alt="date"
								class="form__datatime-img"
							/>
							<input
								name="intro-date"
								type="date"
								class="tickets__form-intro-date"
							/>
						</div>

						<div class="form__datatime-time">
							<img
								src="./images/form/date.svg"
								alt="time"
								class="form__datatime-img"
							/>
							<input
								name="intro-time"
								type="time"
								class="tickets__form-intro-time"
							/>
						</div>
					</div>
					<div class="form__name">
						<img class="form__name-img" src="./images/form/name.svg" alt="Name" />
						<input type="text" placeholder="Name" class="form__input-name" />
					</div>
					<div class="form__name">
						<img
							class="form__email-img"
							src="./images/form/email.svg"
							alt="E-mail"
						/>
						<input type="email" placeholder="E-mail" class="form__input-name" />
					</div>
					<div class="form__name">
						<img
							class="form__phone-img"
							src="./images/form/tel.svg"
							alt="Phone"
						/>
						<input type="tel" placeholder="Phone" class="form__input-name" />
					</div>
					<div class="form__name-change">
						<img
							class="form__vector-img"
							src="./images/form/ballot.svg"
							alt="Vector"
						/>
						<select class="form__name-change-select" name="theme">
							<option>Ticket Type</option>
							<option>Permanent exhibition</option>
							<option>Temporary exhibition</option>
							<option>Combined Admission</option>
						</select>
					</div>
				</form>

				<div class="form__footer">
					<h4>Entry ticket</h4>

					<div class="form__entry">
						<div class="form__cost">
							<p>Basic 18+ (20 €)</p>
							<div class="form__input-numbers">
								<button
									type="button"
									onclick="this.nextElementSibling.stepDown()"
									class="form__input-buton"
								>
									–
								</button>
								<input
									type="number"
									min="0"
									max="20"
									value="2"
									readonly=""
									class="form__input-number"
								/>
								<button
									type="button"
									onclick="this.previousElementSibling.stepUp()"
									class="form__input-buton"
								>
									+
								</button>
							</div>
						</div>
						<div class="form__cost">
							<p>Senior 65+ (10 €)</p>
							<div class="form__input-numbers">
								<button
									type="button"
									onclick="this.nextElementSibling.stepDown()"
									class="form__input-buton"
								>
									–
								</button>
								<input
									type="number"
									min="0"
									max="20"
									value="2"
									readonly=""
									class="form__input-number"
								/>
								<button
									type="button"
									onclick="this.previousElementSibling.stepUp()"
									class="form__input-buton"
								>
									+
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- OVERVIEV -->
			<div class="ticket_overview">
				<div class="ticket_overview-tour">
					<div class="ticket_overview-description">
						<h2>Overview</h2>
						<h3>Tour to Louvre</h3>

						<p><img src="./images/form/date.svg" alt="img" />Friday, August 19</p>

						<p><img src="./images/form/time.svg" alt="img" />16 : 30</p>

						<p>
							<img src="./images/form/timeVector.svg" alt="img" />Temporary
							exhibition
						</p>
					</div>

					<div class="tour__ig">
						<img src="./images/form/piramide.jpg" alt="piramide" />
					</div>
				</div>

				<div class="total-price">
					<div class="price__first">
						<p><span class="price__block">2</span>Basic (20 €)</p>
						<p><span class="price__block">2</span>Senior (10 €)</p>
					</div>
					<div class="price__second">
						<p>40 €</p>
						<p>20 €</p>
					</div>
				</div>

				<div class="total__third">
					<h3>Total:</h3>
					<p>60 €</p>
				</div>

				<!-- CARDS -->
				<div class="form__section-cards">
					<div class="form__section-card-front">
						<div class="form__section-card-text">Card number</div>
						<div class="form__section-cont">
							<div class="form__section-left">
								<input class="form__section-card-input" type="text" />
								<div class="form__section-card-text">Expiration date</div>
								<div class="form__section-card-date">
									<div class="form__section-card-numbers">
										<input
											type="number"
											min="01"
											max="12"
											value="03"
											readonly=""
											class="form__section-number"
										/>
										<div class="form__section-buttons">
											<div class="form__section-button">▲</div>
											<div class="form__section-button">▼</div>
										</div>
									</div>

									<div class="form__section-card-numbers">
										<input
											type="number"
											min="2020"
											max="2030"
											value="2024"
											readonly=""
											class="form__section-number"
										/>
										<div class="form__section-buttons">
											<div class="form__section-button">▲</div>
											<div class="form__section-button">▼</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form__section-right">
								<div class="form__section-right-img">
									<img src="./images/form/visa.svg" alt="Visa" />
								</div>
								<div class="form__section-right-img">
									<img src="./images/form/mastercard.svg" alt="MasterCard" />
								</div>
							</div>
						</div>

						<div class="form__section-card-text">Cardholder name</div>
						<input class="form__section-card-input" type="text" />
					</div>
					<div class="form__section-card-end">
						<div class="form__section-card-slice"></div>
						<div class="form__section-card-info">
							<div class="form__section-card-title">CVC/CVV</div>
							<input type="text" class="form__section-card-end-input" />
							<div class="form__ection-card-subtitle">
								The last <br />
								3 or 4 digits on back <br />
								of the card
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="form__section-card-button">Book</button>
			</div>
			<button class="form__close">
				<span class="form__close-line"></span>
				<span class="form__close-line"></span>
			</button>
		</div>
	</div>
</div>
