.explore {
	padding: 75px 0;
	min-height: 865px;
	@include media(max,xl) {
		padding: 60px 0;
	}
	@include media(max,md) {
		padding: 40px 0;
		min-height: 908px;
	}
	@include media(max,xs) {
		min-height: 551px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include media(max,xxl) {

		}
	}
	&__content {
		max-width: 660px;
		@include media(max,xxl) {
			max-width: none;
			width: 100%;
		}
	}
	&__text {
		@include font(22px,38px,300);
		margin-top: 25px;
		@include media(max,xl) {
			@include font(20px,35px);
			margin-top: 0;
		}
		@include media(max,md) {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			border: 0;
			padding: 0;
			white-space: nowrap;
			-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
		}
		&--gold {
			color:var(--gold);
		}
		&:nth-child(2) {
			margin-top: 75px;
			max-width: 610px;
			@include media(max,xxl) {
			max-width: none;
			margin-top: 60px;
			line-height: 40px;
			}
		}
		&:nth-child(4){
			@include media(max,xl) {
				position: absolute;
				width: 1px;
				height: 1px;
				margin: -1px;
				border: 0;
				padding: 0;
				white-space: nowrap;
				-webkit-clip-path: inset(100%);
				clip-path: inset(100%);
				clip: rect(0 0 0 0);
				overflow: hidden;
				}
		}
	}
	&__picture {
		display: flex;
		position: relative;
		width: 720px;
		height: 700px;
		@include media(max,xxl) {
			margin: 0 auto;
			margin-top: 62px;
		}
		@include media(max,md) {
			width: 722px;
			height: 705px;
			margin-top: 40px;
		}
		@include media(max,xs) {
			width: 380px;
			height: 368px;
		}
	}

	&__picture-item {
		position: absolute;
		width: auto;
		height: auto;
		overflow: hidden;
	}

	&__picture-item img {
		display: block;
		vertical-align: middle;
		width: 720px;
		height: 700px;
		@include media(max,md) {
			width: 722px;
			height: 705px;
		}
		@include media(max,xs) {
			width: 380px;
			height: 368px;
		}

	}

	&__picture-slider {
		position: absolute;
		z-index: 9;
		cursor: ew-resize;
		/*set the appearance of the slider:*/
		width: 40px;
		height: 40px;
		background-color: #fff;
		opacity: 0.7;
		border-radius: 50%;
	}

}
