<footer class="footer">
  <div class="container">
      <div class="footer__wrapper">
				<a href="#" class="footer__logo">
					<svg class="footer__img"><use xlink:href="./images/logo.svg#logo"></use></svg>
					<span class="footer__title">Louvre</span>
				</a>
				<div class="footer__nav">
					<nav class="footer__nav-list">
						<ul class="footer__list">
							<li class="footer__list-item"><a class="footer__list-link" href="#visiting">Visiting</a></li>
							<li class="footer__list-item"><a class="footer__list-link" href="#gallery">Gallery</a></li>
							<li class="footer__list-item"><a class="footer__list-link" href="#explore">Explore</a></li>
							<li class="footer__list-item"><a class="footer__list-link" href="#tickets">Tickets</a></li>
							<li class="footer__list-item"><a class="footer__list-link" href="#video">Video</a></li>
							<li class="footer__list-item"><a class="footer__list-link" href="#contacts">Contacts</a></li>
						</ul>
					</nav>
					<ul class="footer__social">
						<li class="footer__social-item"><a href="https://www.youtube.com/user/louvre"><svg ><use xlink:href="./images/footer/youtube.svg#youtube"></use></svg></a></li>
						<li class="footer__social-item"><a href="https://www.instagram.com/museelouvre/"><svg ><use xlink:href="./images/footer/instagram.svg#instagram"></use></svg></a></li>
						<li class="footer__social-item"><a href="https://www.facebook.com/museedulouvre"><svg ><use xlink:href="./images/footer/facebook.svg#facebook"></use></svg></a></li>
						<li class="footer__social-item"><a href="http://twitter.com/museelouvre"><svg ><use xlink:href="./images/footer/twitter.svg#twitter"></use></svg></a></li>
						<li class="footer__social-item"><a href="https://www.pinterest.fr/museedulouvre/"><svg ><use xlink:href="./images/footer/pinterst.svg#pinterst"></use></svg></a></li>
					</ul>
				</div>
			</div>
  </div>
	<div class="footer__line"></div>
	<div class="container">
		<div class="footer__copyright">
			<ul class="footer__copyright-list">
				<li class="footer__copyright-item"><a class="footer__copyright-link" href="#">© 2021</a></li>
				<li class="footer__copyright-item"><a class="footer__copyright-link" href="https://rs.school/js/">The Rolling Scopes School</a></li>
				<li class="footer__copyright-item"><a class="footer__copyright-link" href="https://github.com/TolmaSh">TolmaSh</a></li>
			</ul>
		</div>
	</div>
</footer>
